@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    font-family: 'Montserrat' sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
button{
    outline: none;
    border: 1px solid #000;
    cursor: pointer;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 13vh;
    padding: 10px;
    background-color:#232F3E;
}
.logo{
    cursor: pointer;
}
#article{
    background-color: lightblue;
    width: 1000px;
    height: auto;
    margin: 50px auto;
}
#article #avatar{
    background-image: url('Colors/blueWatch.jpg');
    position: relative;
    width: 30%;
    height: 400px;
    float: left;
}
#article #avatar img{
    position: absolute;
    transform: translateX(-10%);
    width: 128%;
    height: 100%;
    z-index: -1;
}
#article #avatar p{
    position: absolute;
    top: 45%;
    left: 30%;
    letter-spacing: 4px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}
#article #avatar #heart{
    position: absolute;
    top: 40%;
    left: 43%;
    width: 50px;
    height: 50px;
    animation: beat 5s linear 0s infinite alternate;
    visibility: hidden;
}
#article #avatar #heart-rate{
    position: absolute;
    top: 56%;
    left: 42.5%;
    width: 50px;
    height: 50px;
    color: #FFF;
    font-weight: 600;
    text-align: center;
    visibility: hidden;
}
#article #info{
    width: 70%;
    height: 400px;
    float: right;
    padding: 10px;
}

#article #info .title{
    font-size: 30px;
    margin-bottom: 25px;
}

#article #info .description{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 35px;
    word-break: normal;
    width: 80%;
}

#article #info .section{
    margin-bottom: 20px;
}

#article #info .colors{
    margin-bottom: 40px;
}

#article #info .colors li{
    padding: 10px 25px;
    border-radius: 5px;
    display: inline;
    margin: 5px 15px 0 0;
    cursor: pointer;
}
.black{
    background-color:#23211f;
}

.red{
    background-color:#ca3d22;
}

.blue{
    background-color:#565681;
}

.pink{
    background-color: #e9c7e9 ;
}

.purple{
    background-color:#8a5362;
}

#article #info .options{
    margin-bottom: 35px;
}

#article #info .options li{
    border-radius: 5px;
    display: inline;
    margin: 5px 15px 0 0;
    cursor: pointer;
}

#article #info .options li a{
    text-decoration: none;
    color: #000;
    background-color:#cfcfcf;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    padding: 5px 18px;
}

#article .buy{
    background-color: orange;
    border: 1px solid orange;
    padding: 15px 40px;
    border-radius: 5px;
}
